<iso-store></iso-store>
<div class="container">
  <div class="column">
    <div *ngFor="let computer of computers$ | async" class="col s12 m3">
      <div class="card horizontal hoverable">
        <div class="card-image">
          <img [src]="computer.image" [alt]="computer.model">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{computer.brand}}, {{computer.model}}
              <i class="material-icons right">more_vert</i>
          </span>
          <p><b>PROCESADOR: </b>{{computer.processor }}</p>
          <p><b>ALMACENAMIENTO: </b>{{computer.storage }}</p>
          <p><b>RAM: </b>{{computer.ram }} GB</p>
          <p><b>PRECIO: </b>{{computer.price }}$</p>
          <p><b>CALIFICACION: </b>{{computer.stars }}</p>
          <p><b>CANTIDAD: </b>{{computer.stock }} unidades</p>
        </div>
        <div class="card-action">
          <a href="#">COMPRAR</a>
          <a href="#">ANADIR A CARRITO</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">DETALLES<i class="material-icons right">close</i></span>
          <p><b>PRECIO: </b>{{computer.price}} $</p>
          <p><b>MARCA: </b>{{computer.brand }}</p>
          <p><b>MODELO: </b>{{computer.model }}</p>
          <p><b>PROCESADOR: </b>{{computer.processor }}</p>
          <p><b>ALMACENAMIENTO: </b>{{computer.storage }}</p>
          <p><b>RAM: </b>{{computer.ram }} GB</p>
          <p><b>GRAFICOS: </b>{{computer.graphics }}</p>
          <p><b>OS: </b>{{computer.os }}</p>
          <p><b>PANTALLA: </b>{{computer.screenType}} {{computer.screenSize}}"</p>
          <p><b>PESO: </b>{{computer.productWeight }} libras</p>
          <p><b>Bluetooth: </b>{{computer.bluetooth}}</p>
          <p><b>Headphone Jack:</b> {{computer.headphoneJack}}</p>
          <p><b>PUERTOS TIPO A:</b> {{computer.portsTypeA}}</p>
          <p><b>PUERTOS TIPO C:</b> {{computer.portsTypeC}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
