<div class="container">
  <div class="row">
      <h5 class="black-text col s6 offset-s4">Inicio Sesion Usuario</h5>
      <form class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" novalidate>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" required>
            <label for="username">Correo</label>
          </div>
          <div class="input-field col s12">
            <input id="password"  type="password" class="validate" required>
            <label for="password">Contrasena</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="waves-effect black btn-small" type="submit" (click)="login()">
              <a>Iniciar Sesion</a> 
            </button>
          </div>
        </div>
        <div class="row center">
          <a routerLink="/register">Registrar Usuario</a>
        </div>
      </form>
    </div>
</div>
        