<div class="container">
  <div class="row">
      <h5 class="black-text col s6 offset-s4">Inicio Sesion Usuario</h5>
      <form #loginForm="ngForm" class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" novalidate>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" [(ngModel)]="email" required>
            <label for="email">Correo</label>
          </div>
          <div class="input-field col s12 form-group">
            <input id="password" type="password" name="password" [(ngModel)]="password" required>
            <label for="password">Password</label>
          </div>
          <div class="col s12 center" *ngIf="auth.displayError">
            <p class="red-text">Error al iniciar sesión.</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button type="button" class="waves-effect waves-light btn right" [disabled]="loginForm.invalid"
          (click)="auth.login(email, password)">Iniciar Sesión</button>
          </div>
        </div>
        <div class="row center">
          <a routerLink="/register">Registrar Usuario</a>
        </div>
      </form>
    </div>
</div>
        