<iso-admin></iso-admin>
<div class="container">
    <div class="column">
        <button class=" waves-effect waves-light btn col s5 offset-s3 red lighten-1" routerLink="/admin/addAccessory">Anadir Accesorio</button>
        <div class="col s12">
            <table class="striped red lighten-1">
                <thead>
                    <tr>
                        <th *ngFor="let column of columns">{{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accessory of accessories$ | async" >
                        <td>{{accessory.brand}}</td>
                        <td>{{accessory.model}}</td>
                        <td>{{accessory.productName}}</td>
                        <td>{{accessory.stock}}</td>
                        <td>{{accessory.price}}</td>
                        <td><a>Editar</a></td>
                        <td><a>Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>