<div class="navbar-fixed">
    <nav class="red lighten-1">
      <div class="nav-wrapper">
        <div class="container">
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/admin/adminComputers">Administrar Computadoras</a></li>
            <li><a routerLink="/admin/adminAccessories">Administrar Accesorios</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul isoSidenav class="sidenav" id="mobile-menu">
    <li><a routerLink="/admin/adminComputers">Administrar Computadoras</a></li>
    <li><a routerLink="/admin/adminAccessories">Administrar Accesorios</a></li>
  </ul>