<footer class="page-footer" class=" light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tienda en línea</h5>
        <p class="grey-text text-lighten-4">Proyecto de Ingenieria de Software: Facultad de Ciencias y Tecnologia,
        Universidad Mayor de San Simon UMSS</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Nuestras Redes</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}} Copyright ISO
    </div>
  </div>
</footer>
