<iso-admin></iso-admin>
<div class="container">
    <div class="column">
        <button class=" waves-effect waves-light btn col s5 offset-s3 red lighten-1">Anadir Computadora</button>
        <div class="col s12">
            <table class="striped red lighten-1">
                <thead>
                    <tr>
                        <th *ngFor="let column of columns">{{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HP</td>
                        <td>Spectre</td>
                        <td>10</td>
                        <td>1100$</td>
                        <td><a>Editar</a></td>
                        <td><a>Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>